<!DOCTYPE html>
<html lang="en">


<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/headerAdmi.ejs") %>
            <section class="main-product-section">
                <article class="destiny">
                    <form action="/edit?_method=PUT" method="POST" enctype="multipart/form-data">


                        <div class="destiny-card-top2">
                            <img class="imgproduct2" src="/img/<%= product.img %>" alt="">
                            <!-- <button id="edit3"> <i
                                        class="fas fa-edit"></i></button> -->
                            <input class="inputEditImg" type="file" name="newImg" id="newImg"
                                placeholder="Nueva imagen">
                        </div>
                        <div class="product-card-body2">
                            <h1 class="destiny-title">
                                <%= product.name %>
                                    <!-- <button id="edit3"> <i class="fas fa-edit"></i></button> -->
                                    <input type="text" name="newName" id="newName">;
                            </h1>
                            <p class="destiny-description">Programa de salidas propias en bus para conocer
                                ESTANCIA
                                LA
                                Ernestina Ecoturismo. Salidas
                                en SEPTIEMBRE 2022.
                                <!-- <button id="edit3"> <i class="fas fa-edit"></i></button> -->
                                in
                            </p>
                            <div class="p">
                                <div class="producto-descripcion">
                                    <p class="producto-descrip">La estancia cuenta con ocho cabañas con DISEÑOS
                                        ÚNICOS,
                                        totalmente
                                        construidas con madera y
                                        piedras del lugar, con todas las comodidades para que puedan alojarse de
                                        2 a
                                        14
                                        personas.

                                        Estancia La Ernestina es un deleite para los sentidos, porque además del
                                        confort y
                                        la
                                        belleza de
                                        nuestras cabañas y el entorno, podrás disfrutar los mejores sabores y
                                        aromas
                                        en
                                        Buena
                                        Yunta,
                                        nuestro exclusivo restaurante, donde combinamos sabiamente los recursos
                                        que
                                        nos
                                        brinda
                                        la
                                        naturaleza con la experiencia y las recetas únicas de nuestro chef.

                                        La experiencia natural de La Ernestina, comienza aún antes de llegar.
                                        Desviandose
                                        sólo
                                        unos
                                        metros de la ruta S271 camino a San Clemente (Valle de Paravachasca,
                                        Córdoba)
                                        comenzará
                                        a
                                        vislumbrar la gran variedad de árboles que hacen de nuestro entorno un
                                        paisaje de
                                        ensueño.<button id="edit3"> <i class="fas fa-edit"></i></button></p>
                                    <p>.</p>
                                    <div class="mapa">
                                        <iframe
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3392.371741925588!2d-64.66368368514716!3d-31.7603454201504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942d497a14a378bb%3A0xfb3f1d0d7d735ab7!2sEstancia%20La%20Ernestina!5e0!3m2!1ses!2sar!4v1659678839917!5m2!1ses!2sar"
                                            width="300" height="300" style="text-align: center;" allowfullscreen=""
                                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>
                                    <h1 class="detail">DETALLES<button id="edit3"> <i class="fas fa-edit"></i></button>
                                    </h1>
                                </div>
                                <ul class="producto-info">
                                    <li><i class="fas fa-bus">Bus de turismo Mix (opcional butaca cama
                                            $3.000).</i>
                                    </li>
                                    <li><i class="fas fa-calendar">03 Noches.</i></li>
                                    <li><i class="fas fa-bed">Alojamiento.</i></li>
                                    <li><i class="fa fa-utensils">Régimen de Comidas: ALL INCLUSIVE.</i></li>
                                    <li><i class="fa fa-walking">Excursiones Incluidas: Trekking, Rappel,
                                            Cabalgatas.Terapias
                                            Naturales y Retiro.</i></li>
                                    <li><i class="fa fa-user">Coordinador Permanente.</i></li>
                                    <li><i class="fa fa-users">Guías Locales.</i></li>
                                    <li><i class="fas fa-shield-virus">Seguro COVID-19.</i></li>
                                </ul>
                            </div>
                            <div class="efectivo">
                                <p class="price"> EFECTIVO $<%= product.price %>
                                </p>
                            </div>
                            <input type="submit" value="Enviar los cambios">
                            <% }) %>
                    </form>
                </article>
            </section>
            <script> hamburger = document.querySelector(".hamburger");
                hamburger.addEventListener("click", function () {
                    document.querySelector("body").classList.toggle("active");
                })</script>

    </body>

</html>