<!DOCTYPE html>
<html lang="en">


<%- include("../partials/headproduct.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>

            <main>
            
                <section class="formulario-editar">
                   
                    <form id="form-edit" class="form-edit" action="/perfilEdit/<%= userId %>/storage?_method=PUT" method="POST"
                        enctype="multipart/form-data">

                        <div class="form-contenedor">
                            <label for="firstName" class="colocar_nombre">Primer nombre
                            </label>
                            <input type="text" name="firstName" id="firstName" placeholder=""
                            class="form-control <%= locals.errors && errors.firstName ? 'is-invalid' : null %>"
                                value="<%= locals.oldData ? oldData.firstName : user.first_name %>">
                                <% if (locals.errors && errors.firstName) { %>
                                    <div class="text-danger">
                                        <p>
                                            <%= errors.firstName.msg %>
                                        </p>
                                    </div>
                                    <% } %>
                        </div>
                        <div class="form-contenedor">
                            <label for="lastName" class="colocar_nombre">Apellido
                            </label>
                            <input type="text" name="lastName" id="lastName"  required="obligatorio"
                                value="<%= user.last_name ? user.last_name : '' %>">
                            </div>
                        <div class="form-contenedor">
                            <label for="email" class="colocar_nombre">Email
                            </label>
                            <input type="email" name="email" id="email"  required="obligatorio"
                                value="<%= user.email ? user.email : '' %>">
                            </div>
                        <div class="form-contenedor">
                            <label for="user" class="colocar_nombre">Usuario
                            </label>
                            <input type="text" name="user" id="user"  required="obligatorio"
                                value="<%= user.user ? user.user : '' %>">
                            </div>
                        <div class="form-contenedor">
                            <label>Imagen actual</label>
                            <img src="/img/<%=user.img %>" alt="foto" width="40%"><br>
                            
                            <label for="img">Nueva Imagen de Usuario</label>
                            <input type="file" id="img" accept="jpg" name="img" value="/img/<%=user.img %>"
                            class="form-control <%= locals.errors && errors.img ? 'is-invalid' : null %>"
                                value="<%= locals.oldData ? oldData.img : null %>">
                            <% if (locals.errors && errors.img) { %>
                                <div class="text-danger">
                                    <p>
                                        <%= errors.img.msg %>
                                    </p>
                                </div>
                                <% } %>

                            
                        </div>
                        <div class="form-contenedor">
                            <label for="birth">Nueva Fecha de Salida</label>
                            <input type="date" id="birth" name="birth" value="<%= user.date ? user.date : ''; %>">
                        </div>
                        <div class="form-contenedor">
                            <label for="category">Es?</label>
                            <select name="category" id="category">
                                <option value="user" <%=user.category=="user" ? 'selected' : '' ; %>>Usuario
                                </option>

                            </select>
                        </div>
                        <div class="form-contenedor">
                            <label for="newPrice">Numero de telefono</label>
                            <input type="number" id="phoneNumber" name="phoneNumber" value="<%= user.phone_number %>">
                        </div>

                        <div class="form-edit-btn">
                        <button type="submit" name="enviarformulario" id="enviar1">Subir</button>
                    </div>
                    <div class="errores">
                        <ul></ul>
                    </div>
                    </form>
                    </div>
                    </div>

            </main>
            <%- include("../partials/footer.ejs")%>

            <script src="/js/perfilEdit.js"> </script>
            <script src="/js/hamburguesa.js"></script>
    </body>

</html>