<!DOCTYPE html>
<html lang="en">


<%- include("../partials/headproduct.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>

            <main class="bodyform-register">
                <div class="form-body-register">
            
                <section class="main-register-section">
                   
                    <form id="form" class="register-panel" action="/perfilEdit/<%= userId %>/storage?_method=PUT" method="POST"
                        enctype="multipart/form-data">

                            <img src="/img/<%=user.img %>" alt="foto" width="40%"><br>

                            <label for="firstName" class="colocar_nombre"></label>

                            <input type="text" name="firstName" id="firstName" placeholder=""
                            class="form-control <%= locals.errors && errors.firstName ? 'is-invalid' : null %>"
                                value="<%= locals.oldData ? oldData.firstName : user.first_name %>">
                                <% if (locals.errors && errors.firstName) { %>
                                    <div class="text-danger">
                                        <p>
                                            <%= errors.firstName.msg %>
                                        </p>
                                    </div>
                                    <% } %>
                        
                        
                            <label for="lastName" class="colocar_nombre"></label>
                            <input type="text" name="lastName" id="lastName"  required="obligatorio"
                                value="<%= user.last_name ? user.last_name : '' %>">
                            
                            <label for="email" class="colocar_nombre"></label>
                            <input type="email" name="email" id="email"  required="obligatorio"
                                value="<%= user.email ? user.email : '' %>">
                            
                            <label for="user" class="colocar_nombre"></label>
                            <input type="text" name="user" id="user"  required="obligatorio"
                                value="<%= user.user ? user.user : '' %>">
                            
                            
                            <label for="img"></label>
                            <input type="file" id="img" accept="jpg" name="img" value="/img/<%=user.img %>"
                            class="form-control <%= locals.errors && errors.img ? 'is-invalid' : null %>"
                                value="<%= locals.oldData ? oldData.img : null %>">
                            <% if (locals.errors && errors.img) { %>
                                <div class="text-danger">
                                    <p>
                                        <%= errors.img.msg %>
                                    </p>
                                </div>
                                <% } %>

                            
                        
                            <label for="birth"></label>
                            <input type="date" id="birth" name="birth" value="<%= user.date ? user.date : ''; %>">
                    
                        
                            <label for="newPrice"></label>
                            <input type="number" id="phoneNumber" name="phoneNumber" value="<%= user.phone_number %>">
                        
                        
                        
                        <button id="btnRegister">Editar perfil</button>
                    
                    <div class="errores">
                        <ul></ul>
                    </div>
                
                    </form>
                </section>
            </div>  
                
            </main>
            <%- include("../partials/footer.ejs")%>

            <script src="/js/perfilEdit.js"> </script>
            <script src="/js/hamburguesa.js"></script>
    </body>

</html>