<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
        <section class="buscador">
            <%- include('../partials/search.ejs') %>
        </section>
            <main class="main-home-destinos">
                <div class="main-home-contenedor-titulo">
                    <h2 class="Category main-home-titulo">NACIONALES</h2>
                </div>

                <section class="main-home-section">

                    <% let nacional = destinos.filter(product => product.destiny_category_id == 1) %>
                        <% nacional.forEach( product => { %>
                            <article class="article">
                                <a href="/product/detalle/<%=product.id %> ">
                                <div class="article-card-top">
                                    <img class="article-img" src="/img/<%= product.img %>" alt="">
                                </div>
                                <div class="article-card-body">
                                    <h1 class="article-titulo1">
                                        <%= product.name %>
                                    </h1>
                                    </div>
                                </a>
                            </article>
                            <% }) %>
                </section>

                <div class="main-home-contenedor-titulo">
                    <h2 class="Category main-home-titulo">INTERNACIONALES</h2>

                </div>
                <section class="main-home-section">
                    <% let internacional = destinos.filter( product=> product.destiny_category_id == 2) %>
                        <% internacional.forEach(product=> { %>

                            <article class="article">
                                <a href="/product/detalle/<%=product.id %>">
                                <div class="article-card-top">
                                    <img class="article-img" src="/img/<%= product.img %>" alt="">
                                </div>
                                <div class="article-card-body">
                                    <h1 class="article-titulo1">
                                        <%= product.name %>
                                    </h1>
                                </div>
                            </a>
                            </article>
                            <% }) %>

                </section>

            </main>
            <%- include("../partials/footer.ejs")%>
            <script src="/js/hamburguesa.js"></script>
    </body>

</html>